@use "../../styles/variable" as *;


.title_Styles {
    font-family: $font-stack-primary;
}

.select_mode {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2vh;

    .btn_wrapper {
        width: 100%;
        display: flex;
        justify-content: space-around;
        gap: 1vw;

        button {
            font-family: $font-stack-primary;
        }

        button:hover {
            border-color: $primary !important;
            color: $primary !important;
        }
    }

    p {
        font-size: 18px;
        font-family: $font-stack-primary;
        color: $primary;
    }
}