@use "../../styles/variable.scss" as *;

.sideBar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  text-align: end;
  font-family: $font-stack-secondary;

  .titleFirst {
    letter-spacing: 3px;
    font-size: clamp(20px, 4vw, 35px);
    font-weight: lighter;
    font-family: $font-stack-secondary;
  }

  .titleSecond {
    letter-spacing: 3px;
    font-size: clamp(14px, 3vw, 20px);
    font-weight: bold;
  }
}

.menuList {
  width: 90%;
}

.active {
  height: 6vh;
  background-color: white !important;
  margin: 5% 0;
  border-radius: 5vh;
  display: flex;
  justify-content: space-between;
  padding: 13px;
  align-items: center;
  font-family: $font-stack-primary;
  cursor: pointer;
  color: black !important;
  font-size: clamp(12px, 2vw, 16px);

  .icon {
    color: black !important;
  }
}

.menuItem {
  height: 6vh;
  background-color: rgba(229, 214, 236, 0.5);
  margin: 5% 0;
  border-radius: 5vh;
  display: flex;
  justify-content: space-between;
  padding: 13px;
  align-items: center;
  font-family: $font-stack-primary;
  cursor: pointer;
  color: black;
  font-size: clamp(12px, 2vw, 16px);
}

.icon {
  color: white !important;
}

@media (max-width: 768px) {
  .titleFirst {
    font-size: 26px;
  }
  .titleSecond {
    font-size: 16px;
  }
  .menuItem,
  .active {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .titleFirst {
    font-size: 22px;
  }
  .titleSecond {
    font-size: 14px;
  }
  .menuItem,
  .active {
    font-size: 12px;
  }
}
