@use "../../styles/variable" as *;

.appointment_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;

  .tabs_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .tabs {
      border: 1px solid black;
      height: 100%;
      width: 100%;
      border-radius: 1vh;
      padding: 1vh;
      margin-top: 2vh;
      display: flex;
  }

    .first_div {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .second_div {
      display: flex;
      justify-content: space-around;
      flex: 8;
      flex-direction: column;
      align-items: start;
      margin-left: 3vw !important;

      h4 {
        font-weight: 600;
        font-family: $font-stack-primary;
        font-size: 16px;
      }
    }

    .third_div {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1vw;

      .cancleBtn {
        padding: 6px;
        border: none;
        border-radius: 1vh;
        background-color: #d92e2e;
        color: white;
        width: 8vw;
      }

      .cancleBtn:hover {
        cursor: pointer;
      }

      .viewProfileBtn {
        padding: 6px;
        border: none;
        border-radius: 1vh;
        background-color: #4343FF;
        color: white;
        width: 8vw;
      }

      .viewProfileBtn:hover {
        cursor: pointer;
      }
    }

    .btn_style_postponded {
      background-color: #d6f3f3;
      color: #02a3f7;
      padding: 15px;
      border-radius: 5vh;
    }

    .btn_style_scheduled {
      background-color: #c9f6cd;
      color: #0baa1b;
      padding: 15px;
      border-radius: 5vh;
    }

    .btn_style_cancelled {
      background-color: #ffd6d6;
      color: #ff3232;
      padding: 15px;
      border-radius: 5vh;
    }

    .btn_style_none {
      display: none;
    }
  }

  .tabs_wrapper:hover {
    cursor: pointer;
  }
}




.appointments {
  font-size: 20;
}