@import "../../styles//variable.scss";

.auth_Wrapper {
  height: 85dvh;
  width: 75dvw;
  border-radius: 5vh;
  background: linear-gradient(
    to right,
    rgba(179, 120, 234, 1) 0%,
    rgba(101, 68, 132, 1) 100%
  );
  display: flex;
  font-family: $font-stack-primary;
  position: relative;
  box-shadow: 0px 7px 29px 0px rgba(104, 107, 121, 0.4);
}

.authDetails {
  height: 100%;
  width: 35%;
}

.authContent {
  height: 100%;
  width: 65%;
  background-color: $white;
  border-radius: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 26px !important;
    font-weight: lighter;
  }
}

.joinUs {
  color: $white;
  font-size: 40px;
  font-weight: lighter !important;
  position: absolute;
  margin-top: 5%;
  margin-left: 4%;
  .longertext {
    margin-top: 5%;
    font-size: 16px;
    width: 20dvw;
  }
}

.imgStyle {
  position: absolute;
  height: 35vh;
  width: 40vh;
  bottom: 20vh;
  left: 25vw;
  z-index: 1000 !important;
  background: linear-gradient(
    to right,
    rgba(179, 120, 234, 1) 0%,
    rgba(101, 68, 132, 1) 100%
  );
  border-radius: 6vh 0vh 0vh 6vh;
}

// .container{
//     width: 55%;,
//     display: flex: ;;
// }