@use "../../styles/variable.scss" as *;

.auth_Wrapper {
  height: 85dvh;
  width: 75dvw;
  border-radius: 5vh;
  background: linear-gradient(
    to right,
    rgba(179, 120, 234, 1) 0%,
    rgba(101, 68, 132, 1) 100%
  );
  display: flex;
  font-family: $font-stack-primary;
  position: relative;
  box-shadow: 0px 7px 29px 0px rgba(104, 107, 121, 0.4);
}

.authDetails {
  height: 100%;
  width: 35%;
}

.authContent {
  height: 100%;
  width: 65%;
  background-color: $white;
  border-radius: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2 {
    font-size: 26px !important;
    font-weight: lighter;
  }
}

.joinUs {
  color: $white;
  font-size: 40px;
  font-weight: lighter !important;
  position: absolute;
  margin-top: 5%;
  margin-left: 4%;
  .longertext {
    margin-top: 5%;
    font-size: 16px;
    width: 20dvw;
  }
}

.imgStyle {
  position: absolute;
  height: 35%;
  width: 20%;
  bottom: 20vh;
  left: 25vw;
  z-index: 1000 !important;
  background: linear-gradient(
    to right,
    rgba(179, 120, 234, 1) 0%,
    rgba(101, 68, 132, 1) 100%
  );
  border-radius: 6vh 0vh 0vh 6vh;
}

// .container{
//     width: 55%;,
//     display: flex: ;;
// }

.submit_btn_style{
  width: 100%;
  display: flex;
  justify-content: end;
}

.selectSlotOption{
  margin-top: 2vh;

  p{
    font-size: 18px;
  }
}

.container{
  display: flex;
  flex-direction: column;
}

.heading{
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

.input{
  width: 100%;
  height: 30px;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 16px;
}

.input_last{
  width: 100%;
  height: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 16px;
  resize: none;
}

.button{
  width: 30%;
  height: 30px;
  border-radius: 5px;
  background: linear-gradient(to right, #BB6EFF, #704299);
  border: none;
  font-size: 14px;
  font-weight: light;
  font-family: $font-stack-primary;
}


.footerText {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}

.span{
  color: #BB6EFF;
  cursor: pointer;
}